@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  justify-content: center;
  margin: auto;
  border-radius: 15px;
  width: 70%;
  background-color: teal;
  display: flex;
  padding: 1rem; }

.header {
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 10px;
  color: teal; }

.input-group {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .input-group .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0; }
    .input-group .btn-group button:active {
      background-color: #52b6f8;
      border: none;
      color: white; }
    .input-group .btn-group * {
      margin: .5rem;
      border-radius: 10px !important; }

.displays {
  justify-content: center; }
  .displays .display-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .displays .display-group .row {
      margin: 1.5rem; }

.error {
  border: 1px solid red; }
